#market {
    input, select {
        margin-bottom: 2%;
    }

    select {
        border-radius: 2%;
        padding: 0.9%;
    }

    button {
        border-radius: 10px;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        background: #20141D;
        color: #FFFFFF;
        padding: 1%;
        cursor: auto;
        margin-top: 5%;

        &[disabled] {
            opacity: 0.4;
        }
    }
    // .marketBg {
    //     opacity: 0;
    //     pointer-events: none;
    //     transition: opacity 0.4s ease-in-out;
    // }

    // .popup-true {
    //     opacity: 1;
    //     pointer-events: showing;
    // }
}

.marketFooter > .footer {
    display: none;
    margin: 0;
    // height: 0;
}


@media only screen and (max-width: 600px) {
    .marketFooter {
        // border: solid red;
// position: relative;
        // height: 0;
        margin-bottom: 0;
        height: 90vh;

        .footer {
            // position: fixed;
            display: flex;
            
            // margin: 0;
            // bottom: 0;
            
        }
    }

    .listContainer {
        height: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        .left {
            display: none;
        }

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 10%;
        }

        form {
            input {
                padding: 5px;
                margin: 15px 0;
                
            }

            label {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }


            
        }

        
        .footer {
            display: flex;
            padding: 0;
            margin: 0;
        }

        #button {
            margin-top: 20%;
        }
    }
}