#popup {
    width: 50%;
    @media only screen and (max-width: 600px) {
        width: 100%;
        display: flex;
        margin: 0 auto;
    }
}


.marketRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        
        label {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #20141D;
        }

        input {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            background: #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #20141D;
        }

        .button {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                width: 23%;
                margin: 9% 10%;
                padding: 1%;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #20141D;
                background-color: #FFFFFF;
                border-radius: 10px;
                cursor: pointer;
            }

            button:hover {
                color: #FFFFFF;
                background-color: #20141D;
            }

            button:nth-child(3) {
                display: none;
            }

        }
    }
}


#market {
    input, select {
        margin-bottom: 2%;
    }

    select {
        border-radius: 2%;
        padding: 0.9%;
    }

    button {
        border-radius: 10px;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        background: #20141D;
        color: #FFFFFF;
        padding: 1%;
        cursor: auto;
        margin-top: 5%;

        &[disabled] {
            opacity: 0.4;
        }
    }
}

.marketFooter > .footer {
    display: none;
    margin: 0;
    // height: 0;
}


@media only screen and (max-width: 600px) {


    .marketFooter {
        display: flex;
        flex-direction: column;
        min-height: 100vh;


        .footer {
            // flex:1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;   
            margin-top: 20%;
            bottom: 0;         
        }
    }

    .listContainer {
        height: 100%;
        display: flex;
        flex-direction: column;


        .left {
            display: none;
        }

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 20%;
        }

        form {
            input {
                padding: 5px;
                margin: 15px 0;
                
            }

            label {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }
        }

        #button {
            margin-top: 30%;
        }
    }
}