.popButton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;

    button {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 2%;
        padding: 3%;
    }
}
