
.PhoneInput {
	display: flex;
    width: 100vh;

    
    
}

.PhoneInputCountryIcon {
    margin: 0;
	width: 5vh;
	height: 5vh;
    
}

.PhoneInputInput {
    width: 100vh;
}



.PhoneInputCountryIconImg {
	/* Fixes weird vertical space above the flag icon. */
	/* https://gitlab.com/catamphetamine/react-phone-number-input/-/issues/7#note_348586559 */
	display: block;
	/* 3rd party <SVG/> flag icons won't stretch if they have `width` and `height`.
	   Also, if an <SVG/> icon's aspect ratio was different, it wouldn't fit too. */
	width: 100%;
	height: 100%;
}



/* Styling native country `<select/>`. */

.PhoneInputCountry {
	position: relative;
	align-self: stretch;
	display: flex;
	align-items: center;
	margin-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelect {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	border: 0;
	opacity: 0;
	cursor: pointer;
}


.PhoneInputCountrySelectArrow {
    margin-left: 10%;
}












.regContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100vh;

    .left {
        background-color: #20141D;
        width: 50vw;

        h1 {
            font-family: Poppins;
            color: #FE7A7C;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            width: 60%;
            margin: 0 auto;
            margin-top: 7%;
        }

        hr {
            border-bottom: 3px solid #FFFFFF;
            mix-blend-mode: normal;
            width: 60%;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #FE7A7C;
            width: 60%;
            margin: 0 auto;
        }

        .description {
            width: 60%;
            margin: 0 auto;
            margin-top: 6%;
            margin-bottom: 6%;
            
            
            span {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;

            }
        }

        .image {
            width: 60%;
            margin: 0 auto;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }

    .right {
        width: 50vw;

        h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #20141D;
        }

        form {
            display: flex;
            flex-direction: column;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #20141D;
            width: 90%;
            margin: 0 auto;
            margin-top: 7%;

            input {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #20141D;
                margin-bottom: 2%;
                border: 1px solid #20141D;
                box-sizing: border-box;
                border-radius: 5px;
            }

            button {
                background: #20141D;
                border-radius: 10px;
                color: #FFFFFF;
                // font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                padding: 1%;
                margin-top: 7%;
                // margin-bottom: 10%;

                &[disabled] {
                    opacity: 0.4;
                }

                &[enabled] {
                    opacity: unset;
                }
            }
        }
        

    }

    

}

.regFooter > .footer {
    margin-top: 10%;
    display: none;
}

@media only screen and (max-width: 600px) {

    .regContainer {
        display: flex;
        flex-direction: column;

        .left {
            display: none;
            
        }

        .right {
            width: 100%;
            margin: 0 auto;
    
            form {
                input {
                    padding: 5px;
                    // margin: 10px 0;
                }

                label {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }

                button {
                    margin-top: 15%;
                }
            }
        }
    }

    .regFooter {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        // flex: 1;
        bottom: 0;

        .footer {
            display: flex;
            bottom: 0;
            // position: relative;
            padding: 3% 0;
            justify-content: center;
            align-items: center;  
            width: 100%;
            margin-top: 10%;
            flex: 1;
        }
    }

    .allNav {
        display: flex;
    }
}
