.footer {
    display: none;
}


.join {
    .reg {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        .p{
            border: solid;
            text-decoration: none;
            width: 12%;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: white;
            background: #20141D;
            border-radius: 10px;
            padding: 10px;
        }
    }   
}

@media only screen and (max-width: 600px) {
    .join-info {
        display: none;
    }

    .join {
        .reg {

            .p {
                margin: 0 10% 20%;
                width: 35%;
            }
        }
    }

    // .footer {
    //     display: flex;
    //     border: solid;
    // }
}