.logContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;

    .left {
        background-color: #20141D;
        width: 50vw;
        // border: solid red;
        height: 100vh;


        h1 {
            font-family: Poppins;
            color: #FE7A7C;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            width: 60%;
            margin: 0 auto;
            margin-top: 7%;
        }

        hr {
            border-bottom: 3px solid #FFFFFF;
            mix-blend-mode: normal;
            width: 60%;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #FE7A7C;
            width: 60%;
            margin: 0 auto;
        }

        .description {
            width: 60%;
            margin: 0 auto;
            margin-top: 6%;
            margin-bottom: 6%;
            
            
            span {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;

            }
        }

        .image {
            width: 60%;
            margin: 0 auto;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }

    .registerRight {
        width: 50vw;
        margin-top: 5%;

        h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #20141D;
        }

        form {
            display: flex;
            flex-direction: column;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #20141D;
            width: 90%;
            margin: 0 auto;
            margin-top: 15%;

            input {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #20141D;
                margin-bottom: 2%;
                border: 1px solid #20141D;
                box-sizing: border-box;
                border-radius: 5px;
            }

            button {
                background: #20141D;
                border-radius: 10px;
                color: #FFFFFF;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                padding: 1%;
                margin-top: 7%;

                &[disabled] {
                    opacity: 0.4;
                }

                &[enabled] {
                    opacity: unset
                }
            }
        }
        .else {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            margin-top: 3%;

            p:nth-child(1) {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #191C48;
            }

            p:nth-child(2) {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #20141D;
            }

        }
    }
}

.footer {
    display: none;
}


@media only screen and (max-width: 600px) {

    * {
        font-family: Poppins;

    }
    
    .logContainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
        // border: solid red 1px;

        .login {
            display: none;
        }

        .left {
            display: none;
        }

        .registerRight {
            font-family: Poppins;
            width: 100%;
            margin: 0 auto;

            .footer {
                // border: solid red;
                display: flex;
                // position: relative;
                bottom: 0;
                margin-top: 20%;
                width: 100%;
                padding: 5% 0;
                margin: 0;
            }

            h1 {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
            }

            form {
                input {
                    padding: 5px;
                    margin: 10px 0;
                }

                label {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                }

                button {
                    margin-top: 20%;
                    margin-bottom: 10%;
                    font-family: Poppins;
                }
            }
            
            .else {
                // border: solid red;
                p:nth-child(1) {
                    margin: 0;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                    color: #20141D;
                }

                p:nth-child(2) {
                    margin: 0;
                    padding: 0;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
        
    }

    

    #demo {
        margin-top: 1px;
        // border: solid red;
    }
    
}