

.profileRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .image img {
        width: 210px;
        height: 200px;
        // border: 5px solid #FE7A7C;
        box-sizing: border-box;
        border-radius: 100px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        
        label {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #20141D;
        }

        input {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            background: #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #20141D;
        }

        .button {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                width: 23%;
                margin: 9% 10%;
                padding: 1%;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #20141D;
                background-color: #FFFFFF;
                border-radius: 10px;
                cursor: pointer;
            }

            button:hover {
                color: #FFFFFF;
                background-color: #20141D;
            }

            button:nth-child(3) {
                display: none;
            }

        }
    }
}

@media only screen and (max-width: 600px) {
    
    .profileRight > .footer {
        position: relative;
        bottom: 0;
        margin-top: 20% ;
        
        padding: 3% 0;
    }
    
    .button {
        button {
            display: none;
        }
    }


        .update {
            display: flex;
        }

        #btnUpdate {
            display: flex;
            width: 100%;
            margin: 10% 0;
            justify-content: center;
            margin-bottom: 30%;
        }
    
}