.container {
    /* border: solid purple; */
    /* max-height: 100%;
    max-width: 100%;
    height: 100vh; */
}

* {
    
    max-width: 100%;
    /* max-height: 100%; */
}

html, body {
    /* max-height: 100%; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
    font-family: Poppins;
}