@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  /* max-height: 100%; */
  /* height: 100%; */
  /* border: solid red; */
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
