
.listContainer { 
    display: flex;
    height: 100vh;
    // width: 50%;

    .footer {
        display: none;
    }

    .left {
        width: 30vw;
        background: #20141D;
        // height: 100vh;

        h1 {
            color: #FE7A7C;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
            width: 80%;
            margin: 0 auto;
            margin-top: 10%;
        }

        hr {
            border-bottom: 3px solid #FFFFFF;
            width: 80%;
            margin: 0 auto;
        }

        h3 {
            width: 80%;
            margin: 0 auto;
            color: #FE7A7C;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            margin-top: 5%;
        }

        nav {
            margin-top: 30%;
            h4 {
                width: 65%;
                margin: 0 auto;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                color: #FE7A7C;
                margin-top: 5%;
            }
            h4:hover {
                color: white;
            }
        }

        p {
            position: fixed; 
            color: #FE7A7C;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            bottom: 0;
            margin: 0 auto;
            margin-left: 3%;
        }
    }

    .right {
        width: 100%;
        margin-top: 5%;
        color: #20141D;
        display: flex;
        flex-direction: column;

        .card {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            border: 2px solid #20141D;
            border-radius: 5px;
            width: 70%;
            margin:0 auto;
            margin-bottom: 2%;

            img {
                width: 223px;
                height: 167px;
                border-radius: 30px;
                padding: 1%;
                object-fit: cover;

            }

            .category {
                margin-left: 10%;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                // border: solid;
                width: 50%;
                
                h1 {
                    font-size: 18px;
                    line-height: 27px;
                    width: 100%;
                }

                button {
                    color: #FFFFFF;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    background: #20141D;
                    border-radius: 10px;
                    width: 60%;

                }
            }
        }

        .edit {
            display: flex;
            align-items: center;
            width: 100%;
            

            img {

                width: 100%;
                margin-top: 10%;
                height: 32vh;
                box-sizing: border-box;
                margin-left: 20%;
            }
            
            .form {
                width: 60%;
                margin: 0 auto;
                margin-top: 5%;

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        color: #20141D;
                        margin-bottom: 2%;
                    }


                    input {
                        background: #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 5px;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 24px;
                        color: #20141D;
                        margin-bottom: 2%;

                    }

                    button {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #FFFFFF;
                        background: #20141D;
                        border-radius: 10px;
                        width: 30%;
                    }
                }
            }
        }
    }
}

.footCont > .footer {
    display: none;  
}


* {
    text-decoration: none;
    list-style-type: none;
}



@media only screen and (max-width: 600px) {
    .listContainer {
        .footer {
            display: flex;
            padding: 10%;
            margin-bottom: 100%;
        }
        .login {
            display: none;
        }

        .home {
            color: white;
            display: flex;
        }

        .left {
            display: none;
        }

        
        .right {
            .card > img {
                display: none;
            }

            .card {
                text-align: center;
                width: 90%;
                margin: 0;
                margin: 0 auto;
                margin-bottom: 10%;
                object-fit: contain;

                .category {
                    margin: 10%;
                    width: 100%;
                }
            }

            .edit > .editImg {
                display: none;
                border: solid red;
            }
        }
    }

    .footCont > .footer {
        display: flex;
        margin-top: 50%;
    }

    #save {
        margin-top: 10%;
        margin: 30% auto; 
    }

    .editHeader {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 5%;
    }
}