@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: #20141D;  
        color: white;
        font-size: 12px;
        line-height: 18px;
        padding: 10px;
    }
}