@media only screen and (max-width: 600px) {
    .footer {
        // position: relative;
        // width: 100%;
        // bottom: 0;
        // left: 0;
        display: flex;
        justify-content: space-evenly;
        background: #20141D;  
        color: white;
        font-size: 12px;
        line-height: 18px;
        // padding: 0 10px;
    }
}