@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        background: #20141D;  
        padding: 5% 0;
        position: absolute;
        bottom: 0;


        p {
            width: 40%;
            color: white;
            font-size: 12px;
            line-height: 18px;
        }
    }
}