@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: #20141D;  
        flex: 1;

        p {
            width: 40%;
            color: white;
            font-size: 12px;
            line-height: 18px;
            padding: 10px;
        }

    }
}